main {
    max-width: 850px;
    margin-top: 90px;
    margin-bottom: 100px;
    padding-left: 30px;
    padding-right: 30px;

    /* margin-left and margin-right auto is a trick to center
      an element horizontally without needing a container. */
    margin-left: auto;
    margin-right: auto;
}

.order-tracking .back-to-orders-link {
    display: inline-block;
    margin-bottom: 30px;
}

.order-tracking .delivery-date {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.order-tracking .product-info {
    margin-bottom: 3px;
}

.order-tracking .variation-info {
    margin-bottom: 3px;
}

.order-tracking .product-image {
    max-width: 150px;
    max-height: 150px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.order-tracking .progress-labels-container {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.order-tracking .current-status-label {
    color: rgb(6, 125, 98);
}

@media (max-width: 575px) {
    .order-tracking .progress-labels-container {
        font-size: 16px;
    }
}

@media (max-width: 450px) {
    .order-tracking .progress-labels-container {
        flex-direction: column;
        margin-bottom: 5px;
    }

    .order-tracking .progress-label {
        margin-bottom: 3px;
    }
}

.order-tracking .progress-bar-container {
    height: 25px;
    width: 100%;

    border: 1px solid rgb(200, 200, 200);
    border-radius: 50px;
    overflow: hidden;
}

.order-tracking .progress-bar {
    height: 100%;
    background-color: green;
    border-radius: 50px;

    /* We will use JavaScript to change this width. */
    width: 0;
    transition: width 1s;
}